.main {
    display: flex;
    gap: 10px;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.switch-container {
    width: 100%;
}

.switch {
    display: flex;
    align-items: center;
}

